.container {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
	transition: opacity 500ms ease;
}
.hidden {
	padding-top: 50%;
	position: relative;
	width: 100%;
}
.imagePlacehoder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 500ms ease;
}
